.image-bg{
    background-color: #023047;
}

@media only screen and (max-width: 525px) {
    .image-bg{
        display: none;
    }
}

input[type='checkbox']{
    width: 14px !important;
    height: 14px !important;
    margin: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 1px solid gray;
    box-shadow: none;
    font-size: 0.8em;
    text-align: center;
    line-height: 1em;
    background: red;
    border-radius: 2px;
  }
  
  input[type='checkbox']:checked:after {
    content: "✔";
    color: white;
  }